.hero {
  background-color: black;
  justify-content: center;

  & .firstSectionContainer {
    padding: 57px 160px;
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;

    & nav {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10rem;

      & img {
        width: 230px;
        height: auto;
      }

      & a {
        display: flex;
        background-color: var(--pink-dark);
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 89px;
        height: 40px;
        padding: 20px;
        border-radius: 8px;

        & span {
          color: var(--text-title);
        }
      }
    }

    & .title {
      display: flex;
      margin: 0 auto;
      max-width: 650px;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 2rem;

      & h1 {
        color: var(--text-title);
        font: var(--title-lg);
      }

      & p {
        color: var(--text-body);
        font: var(--body-lg);
      }
    }
  }

  & .secondSectionContainer {
    padding: 57px 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & p {
      text-align: center;
      max-width: 600px;
      color: var(--text-body);

      & span {
        & strong {
          color: var(--blue-light);
        }
      }
    }

    & img {
      width: 80px;
      height: auto;
    }

    & > img {
      justify-self: center;
      transform: rotate(15deg);
    }

    & div {
      width: 100%;
      display: flex;
      justify-content: space-between;

      & > :nth-child(1) {
        transform: rotate(90deg);
      }

      & > :nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }
}
