:root {
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;

  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;

  --text-title: #f8fbfb;
  --text-body: #ede7e9;
  --text-label: #bac6c9;

  --title-lg: 700 48px/1.2 "Raleway", sans-serif;
  --title-md: 700 40px/1.2 "Raleway", sans-serif;
  --title-sm: 700 32px/1.2 "Raleway", sans-serif;
  --title-xs: 700 16px/1.2 "Raleway", sans-serif;
  --subtitle: 500 32px/2 "Raleway", sans-serif;

  --body-lg: 700 20px/1.4 "Raleway", sans-serif;
  --body-md: 700 16px/1.4 "Raleway", sans-serif;
  --body-sm: 700 14px/1.4 "Raleway", sans-serif;
  --body-xs: 700 12px/1.4 "Raleway", sans-serif;

  --button: 700 14px/1.2 "Raleway", sans-serif;
  --link: 500 14px/1.2 "Raleway", sans-serif;
  --tag: 700 10px/1.2 "Raleway", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  border: none;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
  font-family: "Raleway", "sans-serif";
}
